@import url('https://fonts.googleapis.com/css2?family=ZCOOL+KuaiLe&family=Schoolbell&display=swap');
:root {
    --c-outline: #332b23;
    --c-image-bg: #ffcc9a;
    --c-link: #ffc400;
    --c-link-focus: #ffe600;
}

body {
    font-family: 'Schoolbell', 'ZCOOL KuaiLe', cursive;
    color: var(--c-outline);
    text-align: center;
    background: repeating-linear-gradient(to bottom, #270c2b 0vh 0.5vh, rgb(68, 53, 68) 0.5vh 6vh);
}

header {
    margin-bottom: 5vmin;
}

footer {
    margin: 10vmin;
}

.header-title {
    letter-spacing: 0.3rem;
    text-transform: uppercase;
    color: linen;
}

#collection {
    display: flex;
    font-size: 1.5rem;
    flex-flow: row wrap;
    justify-content: center;
    font-size: 1.5rem;
}
figcaption {
    font-size: 1.2rem;
    margin-bottom: 0.5rem;
}
@media only screen and (max-width: 800px) {
    main {
        max-width: 100vw;
    }
    figcaption {
        max-width: 100vmin;
    }
}
.social-link {
    color: var(--c-outline);
    text-decoration: none;
    background: var(--c-link);
    letter-spacing: 0.1rem;
    padding: 0.3rem 0.6rem;
    box-shadow: 0.5vmin 0.5vmin;
    border: 0.2rem solid var(--c-outline);
    display: inline-block;
    margin: 2vmin;
}

.social-link:focus, .social-link:hover {
    background: var(--c-link-focus);
    transform: translateY(-0.4vmin);
}

.social-link:focus {
    outline: 10px solid rgb(67, 242, 255);
}

.social-link:active {
    transform: translateY(0.4vmin);
}

figure {
    box-shadow: 0.5vmin 0.5vmin;
    border: 0.2rem solid var(--c-outline);
    padding: 2vmin;
    background: rgb(255, 209, 171);
    color: var(--c-outline);
    margin: 0;
    height: 100%;
}

figure > picture:nth-of-type(n + 2) {
    display: none;
}

.figure-container {
    text-decoration: none;
    margin: 10px;
    width: 150px;
    height: fit-content;
    overflow: hidden;
}

.figure-container:focus {
    outline: 10px solid rgb(67, 242, 255);
}

.figure-container:hover {
    transform: translateY(-0.4vmin);
    box-shadow: 8px 8px black;
}

.figure-container:hover > figure {
    background: rgb(255, 234, 217);
}

.figure-container.full-width > figure > picture:nth-of-type(n + 2)  {
    display: block;
}

.figure-container.full-width {
    width: auto;
    height: auto;
}

.figure-container.full-width > figure {
    width: fit-content;
}

figure,
figure img,
figure figcaption,
figure video,
figure .gif-container {
    pointer-events: none;
}

figure img, 
figure video,
figure .gif-container {
    width: 100%;
    border: 0.2rem solid var(--c-outline);
    background: white;
}

figure:nth-child(n) {
    --fig-transform: rotate(-1deg);
    --fig-tape-transform: translate(20vmin, -5vmin) rotate(-10deg);
    --fig-tape-bg: repeating-linear-gradient(45deg, #9AA0A8 0% 10%, #BEFFC7 10%  20%);
}
figure:nth-child(2n) {
    --fig-transform: rotate(1deg);
    --fig-tape-transform: translate(20vmin, -5vmin) rotate(10deg);
    --fig-tape-bg: radial-gradient(white 20%, #ff5996 30%);
}
figure:nth-child(2n)::before {
    background-size: 1vmin 1vmin;
}
figure:nth-child(3n) {
    --fig-transform: rotate(-2deg);
    --fig-tape-transform: translate(20vmin, -5vmin) rotate(-5deg);
    --fig-tape-bg: repeating-linear-gradient(#FDCA40 0% 12%, #3A2D32 12% 18%);
}
figure:nth-child(4n) {
    --fig-transform: rotate(2deg);
    --fig-tape-transform: translate(20vmin, -5vmin) rotate(15deg);
    --fig-tape-bg: repeating-linear-gradient(transparent 0 10%, black 10% 12%), 
        repeating-linear-gradient(90deg, transparent 0 10%, black 10% 12%),
        white;
}
